@{
    ViewData["Title"] = "Home Page";
}
@model UsersRoles.Data.DTO.UsersRolesDTO;
@using System.Security.Claims;
<div>
    <h1 class="display-4">Welcome @User.Claims.First(t => t.Type == ClaimTypes.NameIdentifier).Value</h1>
    <form id="adminForm" class="mt-5">
        <div class="form-group">
            <label for="selectUser">Users:</label>
            <select asp-for="UserId" name="UserId" id="selectUser" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="" selected>Open this select menu</option>
                @foreach (var user in Model.Users)
                {
                    <option value="@user.Id"> @user.UserName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="selectRole">Roles:</label>
            <select asp-for="RoleId" name="RoleId" id="selectRole" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option value="" selected>Open this select menu</option>
                @foreach (var role in Model.Roles)
                {
                    <option value="@role.Id"> @role.Description</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="button" id="btnSubmit" class="btn btn-danger" value="Save" />
        </div>
    </form>
</div>

@section Scripts{
    <script src="~/js/HomeIndex.js"></script>
}
